* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


nav {
    background-color: gray;
    color: darkred;
    padding: 10px;
    margin:0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav a {
    color: darkred;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

main {
    position: relative;
    top: 60px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
}